input_audio_examples.zip
input_audio_examples
.env
SQL_dump-20260813T141733Z-1-001
SQL_dump-20260813T141733Z-1-001.zip
fireworks_api.txt
API_Key.docx

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
venv/
env/

# IDE
.vscode/
.idea/